/* global.css */

/* Header */
.resume-background {
  width: 50rem;
  border: 0.1rem solid #3f313f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #f9f9f9 !important;
}

.profile {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.profile img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.1rem solid #3f313f;
  background: #3f313f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-name h1 {
  font-size: 2.75rem;
  letter-spacing: 0.5rem;
}

.position {
  font-size: 2.75rem;
  text-align: start;
  padding-left: 3rem;
}

.profile-header {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.profile p {
  margin: 5px 0;
}

.objective {
  text-align: start;
  margin-top: 20px;
}

/* Skills */
.skills {
  margin-top: 20px;
}

.skills h2 {
  margin-bottom: 10px;
}

.technical-skills,
.soft-skills,
.languages,
.references,
.certificates {
  margin-bottom: 20px;
}

icon {
  font-size: 35px;
  font-weight: 500;
  color: #3f313f;
}

/* Education */
.education {
  margin-top: 20px;
}

.education h2 {
  margin-bottom: 10px;
}

/* Work Experience */
.work-experience {
  margin-top: 20px;
}

.work-experience h2 {
  margin-bottom: 10px;
}

.work-experience li {
  margin-bottom: 20px;
}

.work-experience h3 {
  margin: 0;
}

.work-experience p {
  margin: 5px 0;
}

.work-experience ul {
  margin-top: 10px;
  padding-left: 20px;
}

/* General styles */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.col-left {
  background: #e5d6d2 !important;
  color: #3f313f;
}
.col-right {
  color: #363844;
}

.col-top {
  background: #3f313f !important;
  color: #f9f9f9;
}

.col-bottom {
  background: #f9f9f9 !important;
  color: #3f313f;
}
